header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  position: sticky;
  top: 0;
  z-index: 999;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  position: sticky;
  top: 0;
  z-index: 999;
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  position: sticky;
  top: 0;
  z-index: 999;
}
